*{margin:0;padding:0}
.bto{
	padding:5px;
	border:0;
}
.selected{
	opacity:0.5;
}
.selected input{
	
}
a{
	text-decoration:none;
}
.bto-pq{
	width:80px;
}
.centralizar{
	width:50%;!important
	margin-left:25%;
}
.primaria{
	background-color:#0078d7;
	color:#fff;
}
	.activeAba{
		transform: scaleY(1.1);
		}
	.center{text-align:center;}
	.abaMes{
		float:left;
		width:8%;
		height:30px;
		line-height:30px;
		text-align:center;
		font-family:arial;
		font-size:12px;
		margin:0.16% 0 0 0.16%;
		border-radius:5px 5px 0 0;
		background-color:rgb(255,165,0);
		font-weight:900;
		color:black;
	}
	.descricao{
		width:66%;
	}

	.colunaTabela{
		width:33%;
	}
	.limparFloat{
		clear:both;
	}

	.itemTabela{
		padding:5px;
		margin-top:1px;
		height:35px;
		width:430px;
		border-bottom:1px dotted black;
		back ground-color:rgba(176,196,222,1);
	}

	.flutuarEsq{
		float:left;
	}
		
	.fecharJan{
		position:absolute;
		right:5px;
	}
	htm l{
		background-color:rgba(255,215,0,1); 
	}

	.par{
		background-color:rgba(255,215,0,1);
	}
	.par input{
		background-color:rgba(255,215,0,1);
	}

	.cabecalho{
	
		text-align:center;
		background-color:rgba(255,165,0,1);
		color:#fff;
	}

